<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    
    <title>To Do List</title>
</head>
<body>

    <div class="box" id="heading">
        <h1>

            <%= obj.date.toLocaleDateString("en-US",{weekday:"long",day:"numeric",month:"long"}); %>
        </h1>
    </div>
    
    

    <div class="box">
        
        <ul>
            <% 
            obj.data.forEach((item)=> {%>
                <li class="item"> 
                    
                    <input type="checkbox" name="check" id="check">
                    <p><%= item %></p>
                    
                </li>
    
            <%}) 
            %>
        </ul>

        <form action="/" method="post" class="item">
            <input type="text" name="task" id="task" placeholder="Enter Task" autocomplete="off">  
            <button type="submit">+</button>
        </form>
    </div>

    


  
    
    
</body>
</html>